<div class="box person" style="height:100%;display:none;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>

    <div class="rowx content" style="clear:both">
        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3 col2 filter" style="display:none">
            <div class="filter-container box">
                <div class="header">Filter</div>
                <div class="content">
                    <div ng-include="'app/views/filter.html'" ng-init="type = 'person';" style="flex: 1 1 auto;display: flex;  width:100%;"></div>
                </div>

            </div>

        </div>
        <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9 col1" style="padding-right:2px;padding-left:2px;">
            <div dx-data-grid="dg" id="grid">

            </div>

        </div>
    </div>
    <div class="rowx footer">

        <div class=" col-lg-11 col-md-11 col-sm-11 col-xs-11 dx-border" style="padding:0;">
            <table>
                <tr>
                    <td>  <div dx-select-box="sb_rankgroup" style="display:inline-block;background:white;"></div></td>
                    <td style="padding-left:5px;"><div dx-check-box="chk_active"></div></td>
                    <td style="padding-left:5px;"><div dx-button="btn_search"></div></td>
                    <td style="padding-left:5px;"> <div dx-button="btn_view"></div></td>
                    <td style="padding-left:5px;"><div dx-button="btn_new"></div></td>
                    <td style="padding-left:5px;">  <div dx-button="btn_edit"></div></td>
                    <td style="padding-left:5px;">  <div dx-button="btn_sms"></div></td>
                    <td style="padding-left:5px;">  <div dx-button="btn_training"></div></td>
                    <td style="padding-left:5px;" ng-show="IsAccountEdit"> <div dx-button="btn_user"></div></td>
                    <td style="padding-left:5px;" ng-show="IsAccountEdit"> <div dx-button="btn_password"></div></td>


                    <td style="padding-left:5px;"> <div dx-button="btn_delete"></div></td>


                </tr>
            </table>








        </div>
        <div class=" col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding:0;text-align:right">
            <div dx-button="btn_filter"></div>
        </div>
        <div style="clear:both"></div>
    </div>

    <div id="popup_sms" dx-popup="popup_sms">
        <div style="padding:0px">
            <div class="col-lg-12 margin-bottom-5 padding-7">
                <label>Message</label>
                <div dx-text-area="txt_sms_message" class="dx-border" style="margin-top:0px;" dx-validator="{validationGroup:'smsmessageperson',  validationRules: [{ type: 'required'}]}"></div>
            </div>
        </div>


    </div>

    <div id="popup_user" dx-popup="popup_user" class="no-padding">
        <div class="dx-border" style="padding:10px;">
            <!--<div class="padding-7 margin-bottom-5">
                <label>Select From Employees</label>
                <div dx-select-box="sb_employees"></div>
            </div>-->
            <div style="clear:both"></div>
            <div class="padding-7 margin-bottom-5">
                <label>User Name</label>
                <div dx-text-box="txtuser_UserName" dx-validator="{validationGroup:'useradd',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div class="padding-7 margin-bottom-5" ng-show="!IsUserEdit">
                <label>Password</label>
                <div dx-text-box="txtuser_Password" dx-validator="{validationGroup:'useradd',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div style="clear:both"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>First Name</label>
                <div dx-text-box="txtuser_FirstName" dx-validator="{validationGroup:'useradd',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Last Name</label>
                <div dx-text-box="txtuser_LastName" dx-validator="{validationGroup:'useradd',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div style="clear:both"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Phone</label>
                <div dx-text-box="txtuser_phone"></div>
            </div>
            <div style="clear:both"></div>
            <!--<div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>First Name</label>
                <div dx-text-box="txt_FirstName" dx-validator="{validationGroup:'useradd',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Last Name</label>
                <div dx-text-box="txt_LastName" dx-validator="{validationGroup:'useradd',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>User Name</label>
                <div dx-text-box="txt_UserName" dx-validator="{validationGroup:'useradd',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7" ng-show="!IsEdit">
                <label>Password</label>
                <div dx-text-box="txt_Password" dx-validator="{validationGroup:'useradd',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div style="clear:both"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Phone</label>
                <div dx-text-box="txt_phone"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Station</label>
                <div dx-select-box="sb_airport"></div>
            </div>
            <div style="clear:both"></div>
            <div class="margin-bottom-5 padding-7">
                <label>Roles</label>
                <div dx-tag-box="tag_roles"></div>
            </div>-->

        </div>
    </div>

    <div id="popup_password" dx-popup="popup_password" class="no-padding">
        <div class="dx-border" style="padding:10px;">

            <div class="margin-bottom-5 padding-7">
                <label>New Password</label>
                <div dx-text-box="txt_newPassword" dx-validator="{validationGroup:'password',  validationRules: [{ type: 'required'}]}"></div>
            </div>


        </div>
    </div>
    <div ng-include="'app/views/personAdd.html'"></div>
    <div ng-include="'app/views/personView.html'"></div>
    <div dx-load-panel="loadPanel"></div>
</div>


