
<style>

    .ctd {
        border: 1px solid #ccc;
        text-align: center;
    }

    .ctd-empty {
        border: 0px solid #ccc;
        text-align: center;
    }

    .ctr {
        /*height:30px;*/
    }

    .ctd-center {
        background-color: lightseagreen;
    }

    .ctd-selected {
        background-color: red;
    }

    .ht.selected {
        background: #00ffaa !important;
        color: black !important;
    }

    .dx-fileuploader-input-wrapper {
        padding-left: 10px !important
    }

    .dx-fileuploader-input {
        display: none !important
    }
</style>
<div ng-controller="qaReferController">
    <div style='padding:10px 5px 0 5px'>
        <div style='border:0px solid #eee;'>
            <table style='width:100%;margin-bottom:5px'>
                <tr>
                    <td style='width:33.333%;border-right:1px solid white'>
                        <div style='padding:7px;background:#009999;color:white;text-align:center;font-weight:bold' class='ht selected' ng-click="ht_click($event,'followup')">FOLLOWUP</div>
                    </td>
                    <td style='width:33.333%; border-right: 1px solid white'>
                        <div style='padding:7px;background:#009999;color:white;text-align:center;font-weight:bold' class='ht' ng-click="ht_click($event,'comments')">COMMENTS</div>
                    </td>
                    <td style='width:33.333%; border-right: 0px solid white'>
                        <div style='padding:7px;background:#009999;color:white;text-align:center;font-weight:bold' class='ht' ng-click="ht_click($event,'actions')">ACTIONS</div>
                    </td>
                </tr>
            </table>




            <div id='followup' class='ht_content'>
				<div style='border:1px solid #ccc'>
                <div dx-tree-list="referred_list"></div>
				</div>
                <div style='margin-top:10px;padding:7px;border-top:0px solid #ccc;background:#eee'>Note</div>
                <div  dx-text-area="txt_referComment" class='dx-border'></div>
            </div>
            <div id='comments' style='display:none' class='ht_content'>
                <div id="scroll_comment" dx-scroll-view="scroll_comment" style='border:1px solid #ccc' >
                    <div style="border: 1px lightgray solid;margin:10px; padding:5px" ng-repeat="c in comments">
                        <div style="border-bottom: 1px lightgray solid;background:#ddd  "> 
						   <table style='width:100%;'>
						     <tr>
							  <td style='padding:5px;text-align:left;width:70%;'>{{c.EmployeeName}}</td>
							  <td style='text-align:right;padding:5px;'>{{c.DateComment.substring(0,10)}}</td>
							 </tr>
						   </table>
						</div>
                        <div class='thin-scroll' style="border-bottom: 1px lightgray solid;padding:5px;overflow-y:auto;height:100px;">{{c.Comment}}</div>
                        <div style='margin-top:5px;padding-top:5px;'>
						    <div style='padding:4px;font-size:11px;display:inline-block;margin-left:5px;margin-bottom:5px;text-align:center;color:white;background:#00b3b3' ng-repeat="a in c.Attachments" ng-click="download(a.Lable)">
							  {{a.Lable}}
							</div>
                           
							<div style='clear:both'></div>
                        </div>
                    </div>
                </div>
                <div dx-button="btn_comment" style='margin-top:5px;'></div>
            </div>


        </div>

    </div>


    <div id="popup_comment" dx-popup="popup_comment" class="no-padding">
        
            

                <div dx-tabs="tabs_options"></div>

                <div id="comment" class="tabs">
                    <div dx-text-area="txt_comment" class="dx-border" style=" overflow-y:hidden;  padding:10px"></div>
                </div>

                <div id="attachment" class="tabs">
                    <div dx-data-grid="dg_attachment" id="dg_attachment" class="content" style="overflow-y:hidden" dx-item-alias="row">

                        <div data-options="dxTemplate:{ name:'downloadTemplate' }">
                            <a ng-click="download(row.data.FileName)" href="" class='w3-button w3-block w3-blue' style=' margin:0 auto 0px auto;text-decoration:none;padding:5px 5px !important; text-align:center'>Download</a>

                        </div> <div data-options="dxTemplate:{ name:'deleteTemplate' }">
                            <a ng-click="deleteFile(row.data)" href="" class='w3-button w3-block w3-red' style=' margin:0 auto 0px auto;text-decoration:none;padding:5px 5px !important; text-align:center'>Delete</a>
                        </div>
                    </div>
                    <div id="uploader_document" dx-file-uploader="uploader_document" style=" margin-top:7px"></div>

                </div>


             
        
    </div>



    <div dx-load-panel="loadPanel"></div>
</div>
